:root {
  font-family: 'noto-sans KR', sans-serif;
  color: #0b1f3a;
  background: #f3f6f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  background: #fff;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  min-height: 100vh;
}

.p16 {
  padding: 16px;
}

.bgWhite {
  background: #fff;
}

.bR8 {
  border-radius: 8px;
}

.bor1px {
  border: 1px solid var(--border);
}